@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

/* body{
  background-color: #050A30;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
} */

body{
  width: 90%;
margin-left: auto;
margin-right: auto;
/* background-color:   #050A30; */
position: relative;
}

main{
background-color:   #050A30;
padding-left:0%;
margin-top:30px;
padding-top:20px;
padding-bottom: 20px;

}
.container {
  display: grid;
  grid-template-columns: 190px 190px 190px 190px 190px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f5f5f5; */
  font-family: 'Anton', sans-serif;
  /* width: 960px; */

  margin-top: 30px;

}

.card {
  background-color: #fff;
  height: 37rem;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
  inset -5px -5px 15px rgb(255, 255, 240),
  5px 5px 15px rgba(0,0,0,0.3),
  -5px -5px 15px rgb(255, 255, 240);
   border-radius: 15px;
  color: rgb(255, 255, 240);
}

.card__name {
  margin-top: 15px;
  font-size: 1.0em;
}

.card__image {
  height: 160px;
  width: 130px;
  border-radius: 50%;
  border: 5px solid #050A30;
  margin-top: 20px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
              inset -5px -5px 15px rgba(255,255,255,0.2),
              5px 5px 15px rgba(0,0,0,0.3),
              -5px -5px 15px rgba(255,255,255,0.1);
}


.draw-border {
  box-shadow: inset 0 0 0 4px #fff;
  color: #fff;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #F51720;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 9rem;
}

.btn:focus {
  outline: 2px dotted #fff;
}


.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 100ms ease-out;
}

.social-icons a {
  display: inline-block;
 padding-left: 7px;
 padding-top: 5px;
}


.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 30px;
  height: 35px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #F51720, #E84B4F);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #F51720;
  background: -webkit-linear-gradient(45deg, #F51720, #ED7377);
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(255,255,255,0.1);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
  margin-top: 40px;
}

.course h4 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	/* text-transform: uppercase; */
}

.course h2 {
	letter-spacing:0.3px;
	margin: 10px 0;
}

.course-preview {
	background-color: #F51720;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}


h1{
  display: inline-block;
  font-size: 65px;
  color: #050A30;
  margin-top: 40px;
  line-height: 30px;
  font-family: 'Anton', sans-serif;
  padding-left: 5px;
}
#logo{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  /* position: relative; */
  width:60px;
}
h1 em{
  color: #F51720;
}

header ul li a {
  text-decoration: none;
  color: #fff;
 display:block;
 padding:1em 2em;
 transform:skew(25deg);
}

header ul li {
 display: inline;
 font-size: 15px;
 font-family: 'Kanit', sans-serif;
 font-weight: 700;
 background:#F51720;
 float:right;
 /* border-right:1px solid #eee; */
 text-transform:uppercase;
 border-radius: 7px;
}
header ul {
 display:inline-block;
 position: absolute;
 top: 80px;
 right: 60px;
 list-style:none;
 transform:skew(-25deg);
 
}
header ul li:hover{
 padding-bottom: 5px;
}

/* 
#footer{
  position: relative;
  top:600px;
  width: 100%;
  
    }
  #footer img{
     width: 100%;
     height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #footer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Kanit', sans-serif;
  
    }
  
  footer ul{
  display: inline;
  }
  footer ul li{
    float: left;
    position: relative;
    bottom: 50px;
    left: 60px;
    transform: translate(-50%, -50%);
    color: #fff;
    padding-left: 10px;
  } */


