@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");


main{
background-color:   #050A30;
padding-top: 10px;
margin-top: 50px;
}



body{
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 
}


h1{
    display: inline-block;
    font-size: 65px;
    color: #050A30;
    margin-top: 40px;
    line-height: 30px;
    font-family: 'Anton', sans-serif;
    padding-left: 5px;
    position: relative;
    /* left:100px; */
}
#logo{
    float: left;
    /* margin-left: 20px; */
    margin-top: 20px;
    position: relative;
    /* left:100px; */
    width:60px;
}
h1 em{
    color: #F51720;
}
header ul li a {
    text-decoration: none;
    position: relative;
    color: #fff;
    display:block;
    padding:1em 2em;
    transform:skew(25deg);
    text-align: center;
}

header ul li {
    display: inline;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    background:#F51720;
    float:right;
    text-transform:uppercase;
    border-radius: 7px;
    width: 130px;
}
header ul {
    display:inline-block;
    position: absolute;
    top: 40px;
    right: 60px;
    list-style:none;
    transform:skew(-25deg);
    
}
header ul li:hover{
    padding-bottom: 5px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  margin: 40px 0;

}

.member {
  width: 300px;
  height: 400px; 
  padding: 0 auto;
  background-color: rgba(255,255,255,0.2);
  margin:20px;  
  background-color: transparent;
  border-radius: 15px;
  padding-left: 3%;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
              inset -5px -5px 15px rgba(255,255,255,0.2),
                    5px 5px 15px rgba(0,0,0,0.3),
                   -5px -5px 15px rgba(255,255,255,0.2);
}

.member img {
  margin-top: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: block;
  width: 250px;
  height:250px; 
  border-radius: 50%;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
              inset -5px -5px 15px rgba(255,255,255,0.2),
              5px 5px 15px rgba(0,0,0,0.3),
              -5px -5px 15px rgba(255,255,255,0.1);
}

.member h4{
  color:#fff;
  position: relative;
  top:300px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400; 
   font-size: 15px; 
  text-align: center;
line-height: 30px;
}
section{
  float: left;
  display: inline-block;
  margin-left:150px;

}

.courses-container{
float: left;
width: 150px;
margin-right: 80px;
position: relative;
margin-left: 20px;
}
.courses-container h2{
  color: #F51720;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;

}
.courses-container p{
  color: #fff;
  font-family: 'Kanit', sans-serif;

}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  display: inline-block;
  margin-right: 70px;
  margin-bottom: 220px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  position: relative;
  justify-content: center;
  align-items: center;
  display: block;
  width: 250px;
  height:250px; 
  border-radius: 50%;
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
  width: 250px;
  height:250px; 
  border-radius: 50%;
}

.flip-box-back {
  margin-top: 15px;
  background-color: #fff;
  color: #050A30;
  transform: rotateY(180deg);
  width: 250px;
  height:250px; 
  border-radius: 50%;
}
.social-icons{
display: inline-flex;
padding-top: 120px;
}

.social-icons li{
  margin-left: 20px;
font-size: 30px;
cursor: pointer;
}

.flip-box:last-child{
  margin-left: 440px;
}

#footer{
  position: relative;
  top:100px;
  width: 100%;
  margin-top: 100px;
  
    }
  #footer img{
     width: 100%;
     height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #footer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Kanit', sans-serif;
  
    }
  
  footer ul{
  display: inline;
  }
  footer ul li{
    float: left;
    position: relative;
    bottom: 50px;
    left: 60px;
    transform: translate(-50%, -50%);
    color: #fff;
    padding-left: 10px;
  
  
  }
  