body{
    width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1{
  display: inline-block;
  font-size: 65px;
  color: #050A30;
  margin-top: 40px;
  line-height: 30px;
  font-family: 'Anton', sans-serif;
  padding-left: 5px;
  position: relative;
  /* left:-100px; */
}
#logo{
  float: left;
  /* margin-left: 20px; */
  margin-top: 20px;
  position: relative;
  /* left:-100px; */
  width:60px;
}
h1 em{
  color: #F51720;
}
header ul li a {
  text-decoration: none;
  position: relative;
  color: #fff;
  display:block;
  padding:1em 2em;
  transform:skew(25deg);
  width: 130px;
  text-align: center;
}

header ul li {
  display: inline;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  background:#F51720;
  float:right;
  text-transform:uppercase;
  border-radius: 7px;
  
}
header ul {
  display:inline-block;
  position: absolute;
  top: 40px;
  right: 60px;
  list-style:none;
  transform:skew(-25deg);
  
}
header ul li:hover{
  padding-bottom: 5px;
}

table
{
    display: table;
    border-color:#B1D4E0;
    border-style:solid;
    border-width: 0.5em;
    float: left;
    width: 450px;
    border-radius: 15px;
    position: relative;
    margin-top: 100px;
}
 th{
    display: table-cell;
    vertical-align: middle;
    border-width: 5px;
    padding:1em;
    margin: 2em;
    background-color:#050A30; 
    width: 20px;
    border-style:solid;
    border-color: #B1D4E0;
    color:#B1D4E0;
}
td{
vertical-align: middle;
background-color:#050A30; 
color:#B1D4E0;
padding:1em;
margin: 2em;
    width: 20px;
    border-style:solid;
}
tr{
display: table-row;
vertical-align: middle;
border-color:#B1D4E0;
padding: 1em;
border-style:solid;
border-width: 5px;
}

legend
{
    display: block;
    padding-left: 2px;
    padding-right: 2px;
}

#bbtn{
    background-color: #F51720;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top:500px;
}

#footer img{
  width: 100%;
  height: 100px;
 background-repeat: no-repeat;
 background-size: cover;
 }
 #footer span{
  position: relative;
 bottom:60px;
 left: 300px;
  
 
 transform: translate(-50%, -50%);
 color: #fff;
 font-family: 'Kanit', sans-serif;
 }
 footer ul{
 display: inline;
 }
 footer ul li{
 list-style: none;
 float: left;
 position: relative;
 bottom: 50px;
 left: 60px;
 transform: translate(-50%, -50%);
 color: #fff;
 padding-left: 10px;
 }