
  
* {
    box-sizing: border-box;
  }
table
{
    display: table;
    border-color:black;
    border-style:solid;
    border-width: 0.5em;
    margin-inline: 100px;
}
 th{
    display: table-cell;
    vertical-align: middle;
    border-width: 5px;
    visibility :border-color ;
    padding:1em;
    margin: 2em;
    background-color:cyan; 
    width: 20px; ;
    border-style:solid;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    color:purple;
}
tr{
    display: table-row;
vertical-align: middle;
border-color:black;
padding: 1em;
border-style:solid;
border-width: 5px;
}
fieldset{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid black;
}
legend
{
    display: block;
    padding-left: 2px;
    padding-right: 2px;
}

h1{
    display: inline-block;
    font-size: 65px;
    color: #050A30;
    margin-top: 40px;
    line-height: 30px;
    font-family: 'Anton', sans-serif;
    padding-left: 5px;
}
#logo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    width:60px;
}
h1 em{
    color: #F51720;
}
ul li a {
    text-decoration: none;
    color: #050A30;

}
ul li {
    display: inline;
    float: right;
    padding: 20px;
    font-size: 35px;
    margin-right: 30px;
    vertical-align: middle;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    
}
ul li:hover{
    margin-top: 2px;
}

.slideShow{
    width: 90%;
    height: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 55%;
    background-image: url('/images/slide1.jpg');
    background-size: 100% 100%;
    animation: slider 11s infinite linear;
}
@keyframes slider{
    0%{
        background-image: url('/images/slide2.jpg');
    }
    35%{
        background-image: url('/images/slide3.jpg');
    }
    75%{
        background-image: url('/images/slide4.jpg');
    }
    100%{
        background-image: url('/images/slide5.jpg');
    }
}

