
  
* {
    box-sizing: border-box;
  }
table
{
    display: table;
    border-color:black;
    border-style:solid;
    border-width: 0.5em;
    margin-inline: 100px;
}
 th{
    display: table-cell;
    vertical-align: middle;
    border-width: 5px;
    visibility :border-color ;
    padding:1em;
    margin: 2em;
    background-color:cyan; 
    width: 20px; ;
    border-style:solid;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    color:purple;
}
tr{
    display: table-row;
vertical-align: middle;
border-color:black;
padding: 1em;
border-style:solid;
border-width: 5px;
}
fieldset{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    /* border: 1px solid black; */
}
legend
{
    display: block;
    padding-left: 2px;
    padding-right: 2px;
}

h1{
    display: inline-block;
    font-size: 65px;
    color: #050A30;
    margin-top: 40px;
    line-height: 30px;
    font-family: 'Anton', sans-serif;
    padding-left: 5px;
}
#logo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    width:60px;
}
h1 em{
    color: #F51720;
}
ul li a {
    text-decoration: none;
    color: #fff;
    display:block;
    padding:1em 2em;
    /* transform:skew(@skew); */

}

ul li {
    display: inline;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    background:#F51720;
    float:right;
    border-right:1px solid #eee;
    /* box-shadow:0 1px 1px rgba(0,0,0,0.1); */
    text-transform:uppercase;
    transform: skew(-25deg);
    border-radius: 7px;
    
}
ul {
    display:inline-block;
    position: absolute;
    top: 80px;
    right: 50px;
    list-style:none;
    transform:skew(-5deg);
}
ul li:hover{
    padding-bottom: 5px;
}

.slideShow{
    width: 90%;
    height: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 60px;
    background-image: url('/images/slide1.jpg');
    background-size: 100% 100%;
    animation: slider 15s infinite linear;
    display: block;
}
@keyframes slider{
    0%{
        background-image: url('/images/slide2.jpg');
    }
    35%{
        background-image: url('/images/slide3.jpg');
    }
    75%{
        background-image: url('/images/slide4.jpg');
    }
    100%{
        background-image: url('/images/slide5.jpg');
    }
}

.categories div{
    width:200px;
    height: 150px;
    display: inline;
    float: left;
    position: relative;
    
}

#clothescat img {
    width:200px;
    height: 250px;
    transition: .5s ease;
    transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);

    
}
#clothescat img:hover{
    transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#machinecat img{   
    width:200px;
    height: 250px;
    transition: .5s ease;
    transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);
    
}

#machinecat img:hover{
	 transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#shoescat img{   
    width:200px;
    height: 250px;
    transition: .5s ease;
    transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);

    }
    #shoescat img:hover{
        transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
   }
#toolscat img{   
    width:200px;
    height: 250px;
    transition: .5s ease;
    transform: perspective(3em) rotateX(0deg) rotateY(-1.175deg) rotateZ(-1deg);

    }
    #toolscat img:hover{
        transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
   }

 
.categories{
    display: block;
    position: absolute;
    top: 100%;
    padding-left: 100px;
}
header{position: relative;}
main{display: block;
margin-top: 100px;}

form{

  display: inline;
  float: right;
  margin-right: -70px;
  margin-top: 250px;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #050A30;
  box-sizing: border-box;
  /* box-shadow: 5px 10px #888888; */
  border-radius: 10px;
  font-family: 'Righteous', cursive;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

input[type=text]:hover {
background-color: #B1D4E0;
border-radius: 10px;
color: #050A30;
}


fieldset {
    position: relative;

}

  input[type=text], select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #050A30;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #B1D4E0;
  outline: none;
  background: transparent;
    
  
  }
  
  h3{
    margin: 0 0 30px;
    padding: 0;
    color: #B1D4E0;
    text-align: center;
    font-weight: 600;
  }
  label{
   
    padding: 10px 0;
    font-size: 16px;
    color: #B1D4E0;
    
   
  }
  #submit{
  background: #B1D4E0;
  height: 35px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  color: #050A30;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;
  animation: submitbtn 4s infinite;
  }
 

  @keyframes submitbtn {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(0.9);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
  
    25% {
      transform: scale(1.15) rotate(5deg);
    }
  
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
  
    35% {
      transform: scale(1.15) rotate(2deg);
    }
  
    40% {
      transform: scale(1.15) rotate(0);
    }
  }