
* {
  box-sizing: border-box;
}

body{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 
}


fieldset{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    /* border: 1px solid black; */
}

h1{
    display: inline-block;
    font-size: 65px;
    color: #050A30;
    margin-top: 40px;
    line-height: 30px;
    font-family: 'Anton', sans-serif;
    padding-left: 5px;
    position: relative;
    /* left:100px; */
}
#logo{
    float: left;
    /* margin-left: 20px; */
    margin-top: 20px;
    position: relative;
    /* left:100px; */
    width:60px;
}
h1 em{
    color: #F51720;
}
header ul li a {
    text-decoration: none;
    position: relative;
    color: #fff;
    display:block;
    padding:1em 2em;

    transform:skew(25deg);
    width: 130px;
    text-align: center;

}

header ul li {
    display: inline;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    background:#F51720;
    float:right;
    text-transform:uppercase;
    border-radius: 7px;
    
}
header ul {
    display:inline-block;
    position: absolute;
    top: 40px;
    right: 60px;
    list-style:none;
    transform:skew(-25deg);
    
}
header ul li:hover{
    padding-bottom: 5px;
}

.slideShow{
    width: 90%;
    height: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 60px;
    background-image: url('../images/slide1.jpg');
    background-size: 100% 100%;
    animation: slider 15s infinite linear;
    display: block;
}
@keyframes slider{
    25%{
        background-image: url('../images/slide2.jpg');
    }
    50%{
        background-image: url('../images/slide3.jpg');
    }
    75%{
        background-image: url('../images/slide4.jpg');
    }
    100%{
        background-image: url('../images/slide5.jpg');
    }
}

 
.categories{
  position: relative;
  top: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  
}

.categories a{
  text-decoration: none;
  position: relative;
  top:-50px;
  left:10px;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  border-bottom: 1px solid #050A30;
}
 
.firstDIV{
display: inline-block;
margin-right:200px ;

}
.secDIV{
  display: inline;
  margin-left: 100px;
}

.empty{
  width: 200px;
  height: 40px;
}
.catContainer{
  position: relative;
  min-width: 250px;
  height: 300px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
              inset -5px -5px 15px rgba(255,255,255,0.2),
              5px 5px 15px rgba(0,0,0,0.3),
              -5px -5px 15px rgba(255,255,255,0.1);
  border-radius: 15px;  
  margin: 30px; 
}


  #clothescat{
    width:200px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    background-image: url('../img/clothes/adidas\ suite.jpg');
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    background-size: 100% 100%;
    animation: clothesAnime 20s infinite linear; 
 
  }
@keyframes clothesAnime{
  20%{
background-image: url('../img/clothes/Q6.jpg');
  }
40%{
  background-image: url('../img/clothes/Q7.jpg');
}
80%{
  background-image: url('../img/clothes/Q2.jpg');
}
100%{
  background-image: url('../img/clothes/Q4.jpg');
}
}



#machinecat {   
    width:200px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    background-image: url('../img/machine/M1.jpg');
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    background-size: 100% 100%;
    animation: machineAnime 20s infinite linear;
    /* margin-top: 0px; */
}

@keyframes machineAnime{
  20%{
background-image: url('../img/machine/M2.jpg');
  }
40%{
  background-image: url('../img/machine/M4.jpg');
}
80%{
  background-image: url('../img/machine/M7.jpg');
}
100%{
  background-image: url('../img/machine/M9.jpg');
}
}

 #shoescat {   
    width:200px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    background-image: url('../img/shoes/S2.jpg');
    background-size: 100% 100%;
    animation: shoesAnime 20s infinite linear;
    }
    
    @keyframes shoesAnime{
      20%{
    background-image: url('../img/shoes/S4.jpg');
      }
    40%{
      background-image: url('../img/shoes/S6.jpg');
    }
    80%{
      background-image: url('../img/shoes/S8.jpeg');
    }
    100%{
      background-image: url('../img/shoes/S7.jpg');
    }
    }
    
  
    #toolscat {   
    width:200px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    background-image: url('../img/tools/T5.jpg');
    background-size: 100% 100%;
    animation: toolsAnime 20s infinite linear;
    }
    
     
    @keyframes toolsAnime{
      20%{
    background-image: url('../img/tools/T2.jpeg');
      }
    40%{
      background-image: url('../img/tools/T8.jpg');
    }
    80%{
      background-image: url('../img/tools/T2.jpeg');
    }
    100%{
      background-image: url('../img/tools/T9.jpg');
    }
    }



#ShOthbutt{
  position: relative;
  right:500px;
  background-color: #F51720;
  color: #fff;
  height: 35px;
  font-family: 'Kanit', sans-serif;
border-radius: 15px;
cursor: pointer;
}
#ShOthbutt:hover{
  background:#F8AFA6;
  color: #F51720;
}




/*test pull*/

fieldset {
    position: relative;

}

  input[type=text], select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #B1D4E0;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #B1D4E0;
  outline: none;
  background: transparent;
    
  
  }
  
  h3{
    margin: 0 0 30px;
    padding: 0;
    color: #B1D4E0;
    text-align: center;
    font-weight: 600;
  }
  label{
   
    padding: 10px 0;
    font-size: 16px;
    color: #B1D4E0;
    
   
  }
  #submit{
  background: #B1D4E0;
  height: 35px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  color: #050A30;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;
  animation: submitbtn 4s infinite;
  }
 

  @keyframes submitbtn {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(0.9);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
  
    25% {
      transform: scale(1.15) rotate(5deg);
    }
  
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
  
    35% {
      transform: scale(1.15) rotate(2deg);
    }
  
    40% {
      transform: scale(1.15) rotate(0);
    }
  }


  #footer{
position: relative;
top:100px;
width: 100%;
margin-top: 100px;

  }
#footer img{
   width: 100%;
   height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  }
  #footer span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Kanit', sans-serif;

  }

footer ul{
display: inline;
}
footer ul li{
  float: left;
  position: relative;
  bottom: 50px;
  left: 60px;
  transform: translate(-50%, -50%);
  color: #fff;
  padding-left: 10px;


}



#count{
  color: #fff;
position: fixed;
top:15px;
left:350px;

}
